.mediaHide {
  border: 1px solid gray;
  border-radius: 10px 10px 0 0;
  background: white;
  box-shadow: 0px 4px 16px 0px #A4AEC11A;
  padding: 0;
  height: 550px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.parent {
  border: 1px solid gray;
  border-radius: 10px 10px 0 0;
  background: white;
  padding: 0;
}

.icons {
  padding: 17px 26px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 992px) {
    padding: 5px;
  }
  @media screen and (max-width: 767px) {
    padding: 17px 26px;
  }
}

.form {
  padding: 0 24px 20px 24px;

  &__selects {
    padding: 22px 0;
    border-bottom: 1px solid #E2E5EB;

    &__p {
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: 0;
      text-align: left;
      color: #272A37;
      margin: 20px 0 8px 0;
    }
  }

  &__priceSection {

    padding: 16px 0 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__priceInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__dir {
      margin: 0 5px;
    }
  }
}

.activeCurrency {
  padding: 7px;
  background: #272A37;
  color: white;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 5px;
}

.inActiveCurrency {
  margin-left: 5px;
  cursor: pointer;
  padding: 7px;
  width: 24px;
  height: 24px;
  color: #8C929B;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnParent {
  margin-top: 44px !important;
  background-color: white;
}

.btn {
  font-family: "font-family: TBC Sailec", sans-serif;
  background: #FD4100;
  font-size: 14px;
  display: flex;
  font-weight: 700;
  line-height: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: white;
  width: 100%;
  height: 32px;
  padding: 9px 53px;
  border: none;
}